{% load i18n static %}
<header>
    <div class="container d-flex align-items-center">
        <a href="/"><img class="header-logo" src="{% static 'dist/images/logo.png' %}"></a>
        <div class="ml-auto">
            <ul class="nav">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                    {% endif %}
                    <li>
                      <form method="post" action="{% url 'logout' %}" style="margin-bottom: 0">
                        {% csrf_token %}
                        <button type="submit" style="background-color:transparent;border:0;color:#2aaae9;cursor:pointer;font-size:1.5rem;font-weight:400">{% trans 'Logout' %}</button>
                      </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</header>