// Card
//––––––––––––––––––––––––––––––––––––––––––––––––––

.card-porcelain {
  background: color("porcelain");
  transition: $link-transition;

  &:hover {
    color: color("primary");
  }

  [class*="icon-"]:before {
    font-size: 2rem;
  }

}