
.icon-doc:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-down-big:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-info-circled:before { content: '\e805'; } /* '' */
.icon-attention-circled:before { content: '\e810'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */