// Form
//––––––––––––––––––––––––––––––––––––––––––––––––––

.help-text {
    display: block;
    margin-bottom: 1.5rem;
}

.has-error {
    input,
    select,
    textarea {
        border-color: color("cinnabar");
    }
}

.errorlist {
    list-style-type: none;
    color: color("cinnabar");
}

.submit-row {
    margin-top: 2rem;
}


// formset specific
.dynamic-formset {
    .formset {
        background: color("white");
        border: solid 1px $border-color;
        margin-bottom: $generic-margin-bottom;
        padding: 1.5rem;
    }

    .formset.deleted {
        background: color-darken("solitude", 10%);
        opacity: .75;
        border: solid 1px color("cinnabar");
    }

    .empty-formset {
        display: none;
    }

    .actions {
        list-style-type: none;
        float: right;

        li {
            display: inline-block;
        }

        li>* {
            cursor: pointer !important;
        }
    }

    .formset.first .action-up {
        display: none !important;
    }

    .formset.last .action-down {
        display: none !important;
    }

    .add-row {
        margin-bottom: 2rem;
    }

}


// markdown editor

/* update css for the markdown editor to match the preview of it */
.markdownx {
    margin-bottom: $input-margin-bottom;
}

.markdownx-editor {
    margin-bottom: 0;
    resize: vertical;
}

.markdownx-preview {
    padding: $input-padding-x $input-padding-y;
}

/* where there is enough screen lay markdown editor and preview side by side */
@include media-breakpoint-up(lg) {
    .markdownx {
        display: flex;
        width: 100%;
    }

    .markdownx-editor {
        @include make-col(6);
    }

    .markdownx-preview {
        @include make-col(6);
    }
}


// select2 - django auto complete

.select2-container--default {
    margin-bottom: $input-margin-bottom !important;
}

.select2-container--default .select2-selection--multiple {
    background-color: $input-background !important;
    border: solid $input-border-width $input-border-color !important;
    border-radius: $input-border-radius !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    background: $input-background-focus !important;
    border-color: $input-border-color-focus !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: color(secondary) !important;
    border: solid $input-border-width $input-border-color !important;
    border-radius: $input-border-radius !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    margin: .5rem .5rem 0 .5rem;
    height: 2.5rem;
}
