// Form
//––––––––––––––––––––––––––––––––––––––––––––––––––

.help-text {
    display: block;
    margin-bottom: 1.5rem;
}

.has-error {
    input,
    select,
    textarea {
        border-color: color(cinnabar);
    }
}

.errorlist {
    list-style-type: none;
    color: color(cinnabar);
}

.submit-row {
    margin-top: 2rem;
}


// formset specific

.formset {
    background: color(secondary);
    border: solid 1px $border-color;
    margin-bottom: $generic-margin-bottom;
    padding: 1.5rem;
}

.formset.deleted {
    background: darken(color(secondary), 10%);
    opacity: .75;
    border: solid 1px color(cinnabar);
}

.formset.empty-form {
    display: none;
}


// markdown editor

/* update css for the markdown editor to match the preview of it */
.markdownx {
    margin-bottom: $input-margin-bottom;
}

.markdownx-editor {
    font-family: $code-font-family;
    margin-bottom: 0;
    resize: vertical;
}

.markdownx-preview {
    background: darken(color(secondary), 3%);
    padding: $input-padding-x $input-padding-y;
}

/* where there is enough screen lay markdown editor and preview side by side */
@include media-breakpoint-up(lg) {
    .markdownx {
        display: flex;
    }

    .markdownx-editor {
        @include make-col(6);
    }

    .markdownx-preview {
        @include make-col(6);
    }
}