// Layout
//––––––––––––––––––––––––––––––––––––––––––––––––––

header {
  background: color("white");

  .container {
    height: 6rem;
  }

  .header-logo {
    height: 4rem;
    display: block;
  }

  .nav {
    list-style-type: none;
    margin-bottom: 0;

    li {
      display: inline-block;
    }

    li + li {
      margin-left: 2rem;
    }

  }

}

/* body */
.content {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.content-padded {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/* search form */
.search-form form,
.search-form input {
  height: 5rem;
}

/* banner */
.banner {
  background: color("primary");
  padding-top: 4rem;
  padding-bottom: 4rem;

  &.banner-padded {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .banner-title {
    color: color("white");
    font-size: 3rem;
  }

  .search-form form,
  .search-form .icon-input {
    margin-top: 3rem;
    margin-bottom: 0;
  }
}

/* search results */
.search-result {
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  &:not(:last-child) {
    border-bottom: solid 1px $border-color;
  }

}

/* text with inline link that is visible on hover */
.hover-link {

  a {
    display: inline;
    visibility: hidden;
  }

  &:hover a {
    visibility: visible;
  }
}
