// Layout
//––––––––––––––––––––––––––––––––––––––––––––––––––


/* header */
header {
  background: color(white);
  border-bottom: 1px solid $border-color;

  .container {
    height: 6rem;
  }

  .header-logo {
    height: 4rem;
    display: block;
  }

  .nav {
    list-style-type: none;
    margin-bottom: 0;

    li {
      display: inline-block;
    }

    li + li {
      margin-left: 2rem;
    }
  }

}

/* body */
.content {
  padding-top: 5rem;
  padding-bottom: 8rem;

  h2 {
    margin-bottom: 2rem;
  }

}

/* search form */
.search-form form,
.search-form input {
  height: 5rem;
}

/* home page */
.home {

  .banner {
    background: color(primary);
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .search-form form,
  .search-form input {
    margin-bottom: 0;
  }

  .latest {
    margin-bottom: 3rem;
  }
}


/* search page */
.search {

  .result {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    
    &:not(:last-child) {
      border-bottom: solid 1px $border-color;
    }

  }

}

/* linked pages block */
.linked-pages {
  background: color(porcelain);
  border: solid 1px $border-color;
  margin-bottom: $generic-margin-bottom;
  padding: 1.5rem;

  ul {
    margin-bottom: 0;
  }

}

/* text with inline link that is visible on hover */
.hover-link {

  a {
    display: none;
  }

  &:hover a{
    display: inline;
  }
}