// Tags
//––––––––––––––––––––––––––––––––––––––––––––––––––

.tags {
  list-style-type: none;

  li {
    display: inline-block;
    padding: .3rem .5rem;
    background: color(primary);
    border-radius: $global-radius;
    font-size: 90%;
  }

  li a,
  li a:hover {
    color: color(white)
  }

  li+li {
    margin-left: .5rem;
  }

}