{% load i18n static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Snippets | {% block page_title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Code snippets for all languages">
        <link rel="icon" type="image/png" href="{% static 'dist/images/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'dist/css/karma.min.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        {% block full_outer_content %}
            {% include 'partials/header.html' %}
            {% block inner_content %}{% endblock %}
            {% include 'partials/footer.html' %}
        {% endblock %}
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{% static 'dist/js/text-selector.js' %}"></script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
