{% extends 'base.html' %}
{% load doc_tags i18n static %}
{% block page_title %}Home{% endblock %}
{% block body_class %}home{% endblock %}
{% block inner_content %}
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                    <form class="search-form" action="{% url 'docs:search' %}" method="get">
                        <input type="search" name="q" placeholder="Search">
                        <button type="submit" class="d-hidden"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container content">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div><span class="icon-doc"></span><br>Create a new page</div>
                    <a href="{% url 'docs:page-create' %}"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div><span class="icon-code"></span><br>Create a new snippet</div>
                    <a href="{% url 'docs:snippet-create' %}"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% latest_snippet %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Last updated pages</h3>
                {% latest_pages 10 %}
            </div>
            <div class="col-md-6">
                <h3>Last updated snippets</h3>
                {% latest_snippets 10 %}
            </div>
        </div>
    </div>
{% endblock %}