{% extends 'base.html' %}
{% load doc_tags i18n static %}
{% block page_title %}Home{% endblock %}
{% block body_class %}home{% endblock %}
{% block inner_content %}
    <div class="banner banner-padded">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="banner-title">Code snippets and random tripe</div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                    <form class="search-form" action="{% url 'docs:search' %}" method="get">
                        <div class="icon-input">
                            <input type="search" name="q" placeholder="Search">
                            <i class="icon-search"></i>
                        </div>
                        <button type="submit" class="d-hidden"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container cards">
        <div class="row">
            <div class="col-md-3 d-flex">
                <div class="card card-blue">
                    <div class="card-content fill text-center">
                        <div class="card-icon">
                            <i class="icon-doc-inv"></i>
                        </div>
                        <h4>New Page</h4>
                        <p class="small muted margin-zero">Create a new page</p>
                    </div>
                    <a class="overlay" href="{% url 'docs:page-create' %}"></a>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="card card-green">
                    <div class="card-content fill text-center">
                        <div class="card-icon">
                            <i class="icon-leaf"></i>
                        </div>
                        <h4>New Snippet</h4>
                        <p class="small muted margin-zero">Create a new snippet</p>
                    </div>
                    <a class="overlay" href="{% url 'docs:snippet-create' %}"></a>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="card card-orange">
                    <div class="card-content fill text-center">
                        <div class="card-icon">
                            <i class="icon-leaf"></i>
                        </div>
                        <h4>Card Three</h4>
                        <p class="small muted margin-zero">Card description</p>
                    </div>
                    <a class="overlay" href=""></a>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="card card-red">
                    <div class="card-content fill text-center">
                        <div class="card-icon">
                            <i class="icon-leaf"></i>
                        </div>
                        <h4>Card Four</h4>
                        <p class="small muted margin-zero">Card description</p>
                    </div>
                    <a class="overlay" href=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container content content-padded">
        <div class="row">
            <div class="col">
                {% latest_snippet %}
            </div>
        </div>
    </div>

    <div class="container content content-padded">
        <div class="row">
            <div class="col-md-6">
                <h3>Last updated pages</h3>
                {% latest_pages 10 %}
            </div>
            <div class="col-md-6">
                <h3>Last updated snippets</h3>
                {% latest_snippets 10 %}
            </div>
        </div>
    </div>

{% endblock %}
