// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––


// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Base font
$base-font-family:              "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$code-font-family:              'Inconsolata', monospace;
$code-font-size:                1.5rem;

// Styling
//––––––––––––––––––––––––––––––––––––––––––––––––––

// colors
$colors: (
    // required base colours
    "white":                      rgb(255, 255, 255),
    "primary":                    rgb(34, 53, 76),

    // custom
    "cinnabar":                   rgb(220, 53, 69),
    "solitude":                   rgb(248, 249, 250),
);

// defined colors
$body-background:               rgb(255, 255, 255);
$code-background:               rgb(250, 251, 252);
$font-color:                    rgb(32, 33, 36);

// buttons
$buttons: (
    // name                     color                             font-color
    cinnabar:                   map-get($colors, "cinnabar")      map-get($colors, "white")
);

// forms
$input-use-full-width:          true;
