// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

/*
* start with a copy of the current varables file:
* https://github.com/AccentDesign/karma-css/blob/master/scss/_variables.scss
*/


// Typography
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Base font
$base-font-family:              "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

$code-font-family:              'Inconsolata', monospace;


// Styling
//––––––––––––––––––––––––––––––––––––––––––––––––––

// colors
$colors: (
    // required base colours
    white:                      rgb(255, 255, 255),
    primary:                    rgb(160, 182, 54),

    // custom
    cinnabar:                   rgb(220, 53, 69),
    porcelain:                  rgb(239, 241, 242),
);

// defined colors
$body-background:               rgb(245, 246, 247);
$code-background:               rgb(231, 234, 235);
$font-color:                    rgb(95, 95, 95);

// buttons
$buttons: (
    // name                     color                             font-color
    cinnabar:                   map-get($colors, cinnabar)        map-get($colors, white)
);

// forms
$input-use-full-width:          true;
